= submit_tag 'Save', :class => 'btn btn-primary', :form => @guest.new_record? ? 'new_guest' : "edit_guest_#{@guest.id}"
= link_to t('.cancel', :default => t("helpers.links.cancel")), '#', :class => 'btn', 'data-dismiss' => 'modal'
