.jumbotron
  %h1 About FarmlyWed

  -#%p We take the stress and madness out of building and printing your wedding invitations.
  %p
    FarmlyWed was born out of an overnight project to help my fiance and I build our wedding invitation list in a database. 
    The initial concept was very simplistic, which made it easy to use (even for our parents). The application quickly evolved to 
    enable our families to join in and help us fill in addresses and our wedding guest details. Shortly after, our friends who we're 
    engaged at the time kindly demanded that I make one for them too.

  %p
    The application was started around the idea of simplicity, and as it evolves it will always remain that way. Planning a wedding is so stressfull 
    and complex. Services are often priced per how many guests you have, how much will they eat, how much will they drink? 
    It's madness. We keep it simple, from the interface to the pricing. Whether you have 100 or 500 wedding invitations to track, 
    you get the same low one-time cost.
