.jumbotron
  %h1 About FarmlyWed

  -#%p We take the stress and madness out of building and printing your wedding invitations.
  %p
    FarmlyWed was born out of an overnight project to help my fiance and I build our wedding invitation list in a database. 
    The initial concept was very crude and simplistic, which made it easy to use. The application quickly evolved to 
    enable our families to join in and help us fill in addresses and details. Suddenly, all our friends who we're engaged
    kindly demanded that I make one for them too.

  %p
    The application was started around the idea of simplicity, and it will always stay that way. While planning a wedding
    there is so much complexity in everything. Everything decision you make based around how many guests you have. We keep
    everything simple, from the interface to the pricing.
