%h1 Frequently Asked Questions

%h3 Can I order invitations?
%p No. We do not sell, design or print the actual invitation cards. We do provide the ability for you to print your guests addresses onto invitation envelopes using commonly available free open source software (programs that are safe, supported and legally free to download).

%h3 What about same sex marriage?
%p 
  From a technical standpoint we support same sex marriage, currently however the app is set up to have a groom and a bride. It will only be noticeable from a verbiage standpoint, in other words one of the males will be called a bride in a male same sex marriage, and in a female same sex marriage one female will be called a groom. There are plans to change this in the future.
  From a political, social, and moral standpoint, we absolutely support same sex marriage. We feel that the federal, state, or local government shouldn't have any bearing whatsoever in the act of marriage. Marriage is a function of religion, therefore the church. If you do not subscribe to a "religion", then marriage is a function of your faith or beliefs. In all cases the bond of marriage
  really is a function of the community that the couple belongs to and that community's belief in the marrage.
