.jumbotron
  %h1 The easy way to do your wedding invitations!
  %p.lead Build your wedding invitations and wedding guest list in the cloud. Invite friends and close family to help you get the guest names and addresses. Once your guest list is finalized, print your invitation envelopes!
  = link_to 'Sign up today', new_member_registration_path, class: 'btn btn-large btn-success'
%hr/
.row-fluid.marketing
  .span6
    %h2 Let others work for you
    %p Invite collaborators to help or do all the leg work of getting the addresses and guest names!
    %h2 Who makes the cut
    %p Know at any moment if you are over capacity, how many guests you have, how many are kids and more
    %h2 Find addresses
    %p Search for an address with only a first and last name, or narrow by city or zip code
  .span6
    %h2 Be confident
    %p Its a stressful time, don't worry though, if you make a typo we'll let you know if there is a bad address
    %h2 Get it from the source
    %p Get an address directly from a guest by emailing them or asking them through social media
    %h2 Skip the handwriting
    %p You have enough to do, easily pring your invitation envelopes
