%h1 Your Email Address Is Confirmed

%p.lead
  Thank you for subscribing to our launch newsletter! Don't worry we won't send you marketing emails every day. 
  Instead we will email you once maybe twice just to let you know when we start accepting members. After your big day
  you can unsubscribe if it makes you feel better you won't hurt our feelings.
