%p.lead
  All account levels feature the ability to print invitation addresses onto your own envelopes.
%h1 * Trial Account - Free
%p.lead You can create up to 50 invitations for free, no time limits, no credit card required.
%h1 * Silver - $10.00
%p.lead You can create unlimited invitations, invite unlimited contributors and your account lasts forever.
%h1 * Gold - $15.00
%p.lead Additional address validation to help catch typos.
