<ul class="inline">
  <% Filter.all.each do |filter| %>
    <% if @filter.id == filter.id %>
      <%= link_to invitations_path, class: 'remove-filter btn btn-primary' do %>
        &times;
        <%= filter.name %>
      <% end %>
    <% else %>
      <li>
      <%= link_to invitations_path(filter: filter.id), class: 'filter btn' do %>
        <span class="icon icon-filter"></span>
        <%= filter.name %>
      <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
