%h3 Icon Legend
%ul.inline
  %li
    %span.icon.icon-envelope
    Invitation Sent
  %li
    %span.icon.icon-thumbs-up
    RSVP Attending
  %li
    %span.icon.icon-thumbs-down
    RSVP Not Attending
  %li
    %span.icon.icon-question-sign
    RSVP Unknown
