@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
body { background-color: #fff; color: #555; }

body, p, ol, ul, td {
  font-family: sans-serif;
  font-size:   15px;
  line-height: 20px;
  color: #777;
}

h1 {
  font-family: 'Great Vibes', cursive, serif; 
}
h1,h2,h3,h4 {
  font-family: serif;
  font-weight: 300;
  color: #787878;
}

h2 { font-size: 200%; }
h3, h3.popover-title { font-size: 175%; }
h4 { font-size: 135%; }


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #3A87AD; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors input, .field_with_errors select {
  border-color: red;
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin: 10px auto 10px auto;
  border-radius:8px;
}

#error_explanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  margin-bottom: 0px;
  border-radius:8px 8px 0 0;
  border-bottom:1px solid #EED3D7;
}

#error_explanation ul {
  margin:10px 0 10px 25px;
  color: #B94A48;
}

#error_explanation ul li {
  font-size: 16px;
  list-style: circle;
}
a.brand { 
  font-family: 'Great Vibes', cursive, serif; 
  font-size: 45px !important;
}
a.brand:hover {
  background-color: transparent;
}
body {
  padding-top: 20px;
  padding-bottom: 40px;
}
.dot {
  margin:0.5em 0;
  font-size:3em;
  text-align:center;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.marketing h2 {
  font-family: serif;
}
a.brand {
  color: #787878;
}
a.brand:hover {
  text-decoration: none;
  color: #979797;
}

/* List Filters */
a.remove-filter {
  color: white;
}
a.filter { 
  margin:5px 0; 
  padding:5px;
  font-size: 80%;
}

/* Search */
ul.typeahead li a:hover, ul.typeahead li:hover  {
  color:white;
}
