%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#main-navbar'}}
        %span.sr-only
          Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.brand{:href => '/'} FarmlyWed
    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to invitations_path do
            %span.glyphicon.glyphicon-envelope
            Invitations
        %li
          = link_to new_invitation_path do
            %span.glyphicon.glyphicon-plus
            New Invitation
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to destroy_user_session_path, method: :delete do
            %span.glyphicon.glyphicon-log-out
            Sign Out
