<div class="well">
  <h2>Stats</h2>
  <table class="table">
    <tr>
      <td>No Address</td>
      <td><span id='stats-missing-address' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>RSVP Coming</td>
      <td><span id='stats-rsvp-coming' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>RSVP Not Coming</td>
      <td><span id='stats-rsvp-not-coming' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>RSVP Not Received</td>
      <td><span id='stats-rsvp-none' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Total Invitations</td>
      <td><span id='stats-invitations' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Guests</td>
      <td><span id='stats-total' class="badge badge-success"></span></td>
    </tr>
  </table>
</div><!--/.well -->
