.well
  %h2 Stats
  %table.table
    %tr
      %td No Address
      %td
        %span#stats-missing-address.badge.badge-info
    %tr
      %td RSVP Coming
      %td
        %span#stats-rsvp-coming.badge.badge-info
    %tr
      %td RSVP Not Coming
      %td
        %span#stats-rsvp-not-coming.badge.badge-info
    %tr
      %td RSVP Not Received
      %td
        %span#stats-rsvp-none.badge.badge-info
    %tr
      %td Total Invitations
      %td
        %span#stats-invitations.badge.badge-info
    %tr
      %td Guests
      %td
        %span#stats-total.badge.badge-success
/ /.well
