<div class="well">
  <h2>Stats</h2>
  <table class="table">
    <tr>
      <td>Incomplete Address</td>
      <td><span id='stats-missing-address' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Invitations</td>
      <td><span id='stats-invitations' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Number of Kids</td>
      <td><span id='stats-kids' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Brides Party</td>
      <td><span id='stats-brides-family' class="badge badge-success"></span></td>
    </tr>
    <tr>
      <td>Grooms Party</td>
      <td><span id='stats-grooms-family' class="badge badge-success"></span></td>
    </tr>
    <tr>
      <td>Friends</td>
      <td><span id='stats-friends' class="badge badge-success"></span></td>
    </tr>
    <tr>
      <td>Guest Total</td>
      <td><span id='stats-total' class="badge badge-success"></span></td>
    </tr>
  </table>
</div><!--/.well -->
