%button.btn.btn-default{type: 'button'}
  No Address
  %span#stats-missing-address.badge
%button.btn.btn-default{type: 'button'}
  RSVP Coming
  %span#stats-rsvp-coming.badge
%button.btn.btn-default{type: 'button'}
  RSVP Not Coming
  %span#stats-rsvp-not-coming.badge
%button.btn.btn-default{type: 'button'}
  RSVP Not Received
  %span#stats-rsvp-none.badge.badge-info
%button.btn.btn-default{type: 'button'}
  Total Invitations
  %span#stats-invitations.badge.badge-info
%button.btn.btn-default{type: 'button'}
  Guests
  %span#stats-total.badge.badge-success
%button.btn.btn-default{type: 'button'}
  Kids
  %span#stats-kids.badge.badge-success
