<div class="well">
  <h2>Stats</h2>
  <table class="table">
    <tr>
      <td>Incomplete Address</td>
      <td><span id='guest-stats-missing-address' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Invitations</td>
      <td><span id='guest-stats-invitations' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Number of guests</td>
      <td><span id='guest-stats-subtotal' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Number of Kids</td>
      <td><span id='guest-stats-kids' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Number of Addtl Guests</td>
      <td><span id='guest-stats-guests-guests' class="badge badge-info"></span></td>
    </tr>
    <tr>
      <td>Guest Grand Total</td>
      <td><span id='guest-stats-grand-total' class="badge badge-success"></span></td>
    </tr>
  </table>
</div><!--/.well -->
